body {
    font-size: 16px; /* Use relative units */
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.header, .footer {
    width: 100%;
    box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: radial-gradient(108.78% 108.78% at 50.02% 19.78%, #FFFFFF 57.29%, #EEF6FE 100%);
}

.headerContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-left: 8px;
    text-decoration: none;
}

.headerTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #3c3c3c;
}

.headerIcon {
    height: 65px;
    width: 65px;
    margin-left: 36px;
}

.shareButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 8px;
    width: 120px;
    height: 40px;
    border: .5px solid #bdbdbd;
    border-radius: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.shareButtonContainer:hover{
    background-color: #f8f8f8;
}

.layoutRightButtons {
    position: absolute;
    right: 20px;
    gap: 1rem;
}

.shareButton {
    color: #3c3c3c;
    font-size: 1.5em;
}

.shareButtonText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000;
}

.urlTextBox {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.copyButtonContainer {
    box-sizing: border-box;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 4px;
    background: #242424;
    border-radius: 20px;
}

.copyButtonContainer:hover {
    cursor: pointer;
    background: #3d3d3d;
}

.copyButton {
    color: #fff;
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
}

.copyButtonText {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #fff;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .chatEmptyStateTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    line-height: 24px;
    margin-top: 36px;
    margin-bottom: 0px;
  }

  .chatEmptyStateSubtitle {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.01em;
    color: #616161;
  }

  .chatIcon {
    height: 62px;
    width: auto;
  }

@media screen and (-ms-high-contrast: active), (forced-colors: active) {

.shareButtonContainer, .headerTitleContainer{
    border: 2px solid WindowText;
}

}
